
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid mt-3">
    
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <a href="/DisputeManagement/LodgeParticipantComplaint">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Lodge Participant Complaint</h3>
                        <div class="d-inline-block">
                            <p class="text-white mb-0">Lodge Complaint </p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fas fa-file-invoice-dollar"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/DisputeManagement/ParticipantResponseToDispute">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Participant Response To Dispute</h3>
                        <div class="d-inline-block">
                            <p class="text-white mb-0">Manage Lodged Dispute </p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fas fa-file-invoice-dollar"></i></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>





