
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <a href="/ParticipantCapAdmin/ParticipantCapManagement">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Net Debit Cap Management</h3>
                        <div class="d-inline-block">
                            <p class="text-white mb-0">Manage debit cap for participants</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fas fa-file-invoice-dollar"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/ParticipantCapAdmin/ParticipantCapManagementAll">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Global Net Debit Cap Management</h3>
                        <div class="d-inline-block">
                            <p class="text-white mb-0">Manage debit cap for all participants</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fas fa-file-invoice-dollar"></i></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


